body{
    margin: 20px;
    font-family: Arial, sans-serif;
    border: 2px solid #000;
    padding: 15px;

    background-color: #f9f9f9;
}

h5{
    color: seagreen;
}
.subtitle{
    color : #115dc0ff;
}

.section{
    margin-bottom: 10px;
    margin-top: 10px;
}